.nav{
  display: flex;
  gap: 30px;
}
.cart{
  float: right;
  margin-right: 10px;
}
.card-body{
display: grid;
grid-template-columns: repeat(3,auto);
gap: 20px;
margin-top: 40px;
margin-left: 20px;
}
.card-btn{
display: flex;
justify-content: center;
align-items: center;
}
.card-content{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart-0{
  color: azure;
  background-color: black;
  border-radius: 1rem;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}